<section class="Profilesection">
            <div class="companyDetailsBg addCompanyDetail">
                <div class="profileHead">All Company List</div>
                <div class="topButtonDv">
                    <a href="javascript:void(0)" ng-click="showCompanyModal()" class="addButton"><i class="fa fa-plus" aria-hidden="true"></i> Add Company</a>
                    <!-- <a href="#/users" class="manageButton"><i class="fa fa-user" aria-hidden="true"></i> User Management</a> -->
                </div>
                
          <div class="page_messages" ng-style="createStyle">
            <div class="headsup-close-button" ng-click="createStyle={display:'none'}"><i class="fa fa-times"></i>
            </div>
            <div class="innerhtml"><h3>Create new company.</h3></div>
          </div>
        
                <div class="clear">&nbsp;</div>
                

            <div ng-class="{0 : 'last'}[($index+1) % 4]" class="perCompanyBox" ng-repeat="company in companies">
                <div class="profileHead2"><a href="#/project" ng-click="setCompanyId(company.id)">{{ company.companyName }}</a></div>
                 <a href="javascript:void(0)" ng-click="$parent.selectedIndex = $index;showOptions($index)" class="settingsIcon"><i class="fa fa-cog" aria-hidden="true"></i></a>
                <!--<div class="settingsPop" ng-show="$parent.selectedIndex == $index?visible:false">
                    <ul>
                        <li><a>Option1</a></li>
                        <li><a>Option2</a></li>
                        <li><a>Option3</a></li>
                    </ul>
                </div> -->
                <ul class="projectUl">
                   <li ng-repeat="project in company.projects" ng-if="$index <= 1"><a href="#/project" ng-click="setCompanyId(company.id)">{{ project.projectName}}</a></li>
                </ul>
                <a class="moreClass" ng-click="setCompanyId(company.id)" ng-if="company.projects.length > 2" href="#/project">more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
                
            </div>
            <div class="page_messages secureMessages" ng-style="mfaStyle">
            <div class="headsup-close-button" ng-click="mfaStyle={display:'none'}"><i class="fa fa-times"></i></div>
                <div class="innerhtml">
                <h3>Secure your login</h3>
                <p>Set up <a href="#/mfa" >MFA</a> for extra layer of security.</p>
                </div>
          </div>
</section>